name: Latest YouTube Videos

on:
  schedule:
    # Update setiap jam
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  update-readme-with-youtube:
    name: Update this repo's README with latest videos from YouTube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "YOUTUBE"
          # GANTI CHANNEL ID DI BAWAH INI DENGAN ID ANDA
          feed_list: "https://www.youtube.com/feeds/videos.xml?channel_id=UC8KFFLw4MCeYzN28JN31NUw"
          max_post_count: 2
          # Baris di bawah ini yang bikin ada gambarnya:
          template: "<table><tr><td width='140px' align='center'><a href='$url'><img src='$image' height='80px' width='140px'></a></td><td><a href='$url'>$title</a><br/>$date</td></tr></table>"
