name: Latest YouTube Videos

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  update-readme-with-youtube:
    name: Update this repo's README with latest videos from YouTube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "YOUTUBE"
          feed_list: "https://www.youtube.com/feeds/videos.xml?channel_id=UC8KFFLw4MCeYzN28JN31NUw" # Ganti dengan ID Anda
          max_post_count: 4 # Kita set 4 agar jadi 2 baris x 2 kolom
          custom_tags: "videoId/yt:videoId/"
          # Trik Grid: Kita pakai Table dengan align='left' dan width='48%' agar berjejer 2
          template: "<table align='left' width='48%'><tr><td align='center'><a href='$url'><img src='https://i.ytimg.com/vi/$videoId/mqdefault.jpg' width='100%' style='border-radius:10px'></a><br/><br/><b><a href='$url' style='text-decoration:none'>$title</a></b><br/><i>$date</i></td></tr></table>"
